* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: top;
}

.task-container {
  background-color: #e3f2fd;
  padding: 2rem;
  border: 2px #dbdbdb solid;
  border-radius: 1rem;
  margin: 1rem;
}

.task-btn {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #25a0ed;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  margin-top: 1rem;
}

.task-btn:hover {
  background-color: #1976d2;
}

.task-btn:active {
  background-color: #1976d2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.task-btn.delete {
  background-color: #d32f2f;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
}

.task-btn.delete:hover {
  background-color: #b71c1c;
}

.task-btn.delete:active {
  background-color: #9a0007;
  box-shadow: 0 3px #666;
}

.task-item {
  display: flex;
  justify-content: space-between;
  border-radius: 5%;
  border: 1px #dbdbdb solid;
  margin-bottom: 10px;
  margin-top: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.piechart {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
